/* 敲页面必备，引入这个文件即可 */

/* 清除标签默认样式，保持不同页面风格统一 */

/* 1. 清除内外边距 */
* {
    margin: 0;
    padding: 0;
    /* CSS3盒子模型 */
    box-sizing: border-box;
}

/* 2. 设置页面字体大小和family */
body {
    /* 谷歌字体默认大小，保证其他页面也是16px */
    font-size: 14px;
    /* 谷歌字体默认微软雅黑， 保证其他页面也是微软雅黑*/
    font-family: "微软雅黑";
}

/* 3. 实际开发，h1-h6默认都不会让他加粗，我们要的是他的语义化 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 4. 实际开发，em, i都不需要倾斜 */
em,
i {
    font-style: normal;
}

/* 5. 实际开发  去掉a标签的下划线 */
a {
    text-decoration: none;
}

/* 6. 让文字和图片垂直居中对齐, div包裹img的时候，底部是没有缝隙的 */
img {
    vertical-align: middle;
}

/* 7.0 去除ul li前面的小黑点 */
ul {
    list-style: none;
}

/* 8.0 清除浮动，伪元素清除 */
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

/* 兼容ie 6 7 8 */
.clearfix {
    *zoom: 1;
}
/* 去掉文本框的默认样式 */
input,
textarea {
    outline: none;
}

/* 取消文本域的拖拽 */
textarea {
    resize: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}